:root{
    --primary-font:"Playfair Display", serif;
    --secondary-font:"Raleway", sans-serif;
    
}

body{
    margin: 0;
    padding: 0;
}
.title{
    padding: 1rem;
}
h1{
    font-family: var(--primary-font);
    font-size: 50px;
    text-align: center;
}

span{
    color: #037bc0;
}

.container{
    justify-content: space-between;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0.5rem;
    border-top: 1px solid black;
}
.nav{
    display: flex;
    gap: 10%;
    justify-content: center;
    font-family: var(--secondary-font);
    list-style: none;
    text-align: center;
}

img{
    width: 100%;
}

.itembar{
    color: black;
    text-decoration: none;
}

.banner1{
    object-fit: cover;
    width: 100%;
    height: 35rem;
    margin: 0;
    padding: 0;
}

.banner1 img{
    width: 100%;
    object-fit: cover;
    height: 35rem;
}

.products{
    padding: 30px;
}

.categoriaproducts{
    font-family: var(--primary-font);
    font-size: 40px;
    text-align: center;
}

.categoria1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.container-cat{
    text-align: center;
}
.itemcategory{
    color: black;
    text-decoration: none;
    font-family: var(--secondary-font);
    font-size: 20px;
    padding: 2rem;
    display: block;
}

.section-abt{
    display: flex;
    background-color: #037bc0;
    height: 35rem;
}

.img-abt{
    width: 50%;
}

.container-abt{
    display: flex;
    height: 35rem;
}

.text-abt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 8rem;
    width: 50%;
}

.title-abt{
    font-family: var(--primary-font);
    color: white;
    font-size: 35px;
}

.description-abt{
    font-family: var(--secondary-font);
    color: white;
    font-size: 17px;
}
.main-ourp{
    text-align: center;
}
.our-products{
    font-family: var(--primary-font);
    font-size: 40px;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.product23{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.textoproducto2{
    padding: 20px;
    height: 50%;
}

.textoproducto3{
    padding: 10px;
}


.containerproduct2{
    background-color: #037bc0;
    height: 40rem;
    display: flex;
    flex-direction: column;
}

.imgproduct2{
    height: 50%;
    object-fit: cover;
}
.titlteproduct2{
    font-family: var(--primary-font);
    color: white;
    font-size: 20px;
}
.descriptionproduct2{
    font-family: var(--secondary-font);
    color: white;
    font-size: 17px;
}
.priceproduct2{
    font-size: 30px;
    color: white;
    font-weight: bolder;
}
.boton2{
    background-color: #8cbc00;
    padding: 1rem;
    font-family: var(--secondary-font);
    font-weight: bolder;
    color: white;
}


.containerproduct3{
    background-color: #037bc0;
    height: 40rem;
}
.imgproduct3{
    height: 50%;
    object-fit: cover;
}
.titlteproduct3{
    font-family: var(--primary-font);
    color: white;
    font-size: 20px;
}
.descriptionproduct3{
    font-family: var(--secondary-font);
    color: white;
    font-size: 17px;
}
.priceproduct3{
    font-size: 30px;
    color: white;
    font-weight: bolder;
}
.boton3{
    background-color: #8cbc00;
    padding: 1rem;
    font-family: var(--secondary-font);
    font-weight: bolder;
    color: white;
}

.containerproduct4{
    background-color: #037bc0;
    width: 50%;
    margin: 1rem;
}
.imgproduct4{
    width: 100%;
}
.titlteproduct4{
    font-family: var(--primary-font);
    color: white;
    font-size: 20px;
}
.descriptionproduct4{
    font-family: var(--secondary-font);
    color: white;
    font-size: 17px;
}
.priceproduct4{
    font-size: 30px;
    color: white;
    font-weight: bolder;
}
.boton4{
    background-color: #8cbc00;
    padding: 1rem;
    font-family: var(--secondary-font);
    font-weight: bolder;
    color: white;
}

.containerproduct5{
    background-color: #037bc0;
    width: 50%;
    margin: 1rem;
}
.imgproduct5{
    width: 100%;
}
.titlteproduct5{
    font-family: var(--primary-font);
    color: white;
    font-size: 20px;
}
.descriptionproduct5{
    font-family: var(--secondary-font);
    color: white;
    font-size: 17px;
}
.priceproduct5{
    font-size: 30px;
    color: white;
    font-weight: bolder;
}
.boton5{
    background-color: #8cbc00;
    padding: 1rem;
    font-family: var(--secondary-font);
    font-weight: bolder;
    color: white;
}

.containerproduct6{
    background-color: #037bc0;
    width: 50%;
    margin: 1rem;
}
.imgproduct6{
    width: 100%;
}
.titlteproduct6{
    font-family: var(--primary-font);
    color: white;
    font-size: 20px;
}
.descriptionproduct6{
    font-family: var(--secondary-font);
    color: white;
    font-size: 17px;
}
.priceproduct6{
    font-size: 30px;
    color: white;
    font-weight: bolder;
}
.boton6{
    background-color: #8cbc00;
    padding: 1rem;
    font-family: var(--secondary-font);
    font-weight: bolder;
    color: white;
}

.product456{
    display: flex;
}

.product1{
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: #037bc0;
    margin-bottom: 2rem;
}

.width{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.product1 h3{
    font-family: var(--primary-font);
    color: white;
    font-size: 20px;
}

.descripcionproducto1{
    font-family: var(--secondary-font);
    color: white;
    font-size: 17px;
    line-height: 30px;
}

.imagenproducto1{
    height: 25rem;
    object-fit: cover;
    object-position: center;
}

.textoproducto1{
    padding: 20px;
}

.price1{
    font-size: 30px;
    color: white;
    font-weight: bolder;
}

.boton1{
    background-color: #8cbc00;
    padding: 1rem;
    font-family: var(--secondary-font);
    font-weight: bolder;
    color: white;
}

.footer{
    display: flex;
    gap: 15%;
    justify-content: center;
}

.footertitle{
    font-family: var(--primary-font);
    font-size: 30px;
}
